
/* Set padding to keep content from hitting the edges */
a {
    color: #666666;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error, #messages-contact.input-validation-error {
    border-bottom: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

#home-img {
    padding: 0;
    /*background-image: url('Images/bgwlogo.png');*/
    background-image: url('Images/fountain-pen-1854169_1920.jpg');
    border: none;
}

#topnav {
    padding: .25% 33px;
}

.tp-bullets, .tp-rightarrow, .tp-leftarrow {
    visibility: hidden;
}

.tp-fullwidth-forcer {
    height: 700px !important;
}

#header {
    background-color: #E1B753;
}

#conSub {
    background-color: #E1B753;
    color: #0c383b;
}

#purveyor {
    font-style: italic;
    color: rgb(12, 55, 58);
    text-shadow: 2px 2px 1px white;
}

#player {
    width: auto;
    max-width: 50%;
    height: auto;
    max-height: 100%;
}

.ytp-icon-watermark {
    visibility: hidden;
}

.circle {
    text-align: center;
    position: relative;
    /*display: inline-block;*/
}

    .circle .value {
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        top: 42%;
        margin-top: -15px;
        /*height: 30px;*/
        /*font: 24px/30px sans-serif;*/
        text-align: center;
    }

.card {
    border: #E0B655 2px solid;
    margin-bottom: 2.5em;
    padding-top: 3em;
    padding-bottom: 3em;
}

.btn-menu span {
    background-color: rgb(12, 55, 58);
}


@media (min-width:1500px) {
    .container {
        max-width: 1397px;
    }
}

@media (min-width:1600px) {
    .container {
        max-width: 1540px;
    }
}

.wrap-nav, #mainnav, .menu {
    height: 100%;
}

.courseImg {
    height: 100%;
}

.fa-trash, .fa-pencil-square-o {
    font-size: 2em;
}

.sorting_1 {
    padding-left: 5% !important;
}

#success {
    background-color: rgba(4, 117, 52,.5);
    color: rgb(4,117,52);
}

#fail {
    background-color: rgba(238, 12, 12, .5);
    color: rgb(238,12,12);
}

#dashboarddiv {
    background-color: #E2D8A3;
}

.progress {
    background-color: #E0B655;
}

.progress-bar.active {
    background-color: rgb(120,159,138);
}

#totalComplete {
    padding: 3em 1em;
    background-color: white;
    margin: 1em;
    color: #0c373a;
}
.btn-cancel{
    background-color:#0c373a;
    display: inline-block;
    padding: 0 24px 0 30px;
    height: 50px;
    line-height: 45px;
    font-size: 13px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    border: 2px solid #0c373a;
    -webkit-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.btn-default:hover{
    color:#0c373a;
}
.page{
    padding-top: 2em;
    padding-bottom:2em;
}
.dataTables_length select, .dataTables_filter input{
    display:inline;
    width:auto;
}
.manage{
    width:70px;
}
