
@{
    ViewBag.Title = "Contact";
}

<section class="flat-row bg-theme pd-top-100 contact">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                <form id="formcontact" class="form-contact" method="post" action="./contact/contact-process.php">
                    <div class="form-contact-title">
                        <h6 class="contact-title">CONTACT US BY EMAIL!</h6>
                        <p>At vero eos et accusamus et iusto odios un<br>dignissimos ducimus qui blan ditiis prasixer<br>esentium voluptatum.</p>
                    </div>
                    <div class="info-contact">
                        <p class="wrap-input-name">
                            <input type="text" id="name" name="name" value="" tabindex="1" required="required" placeholder="Full Name">
                        </p>
                        <p class="wrap-input-phone">
                            <input type="text" id="phone" name="phone" value="" tabindex="2" required="required" placeholder="Phone number">
                        </p>
                        <p class="wrap-input-email">
                            <input type="text" id="email" name="email" value="" tabindex="3" required="required" placeholder="Email-address">
                        </p>
                        <p class="wrap-input-messages">
                            <textarea id="messages-contact" name="messages" tabindex="4" placeholder="Messages" required></textarea>
                        </p>
                        <div class="wrap-btn">
                            <button class="flat-btn bg-color">SUBMIT FORM</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
@section scripts{
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA70nPW8DtM0hF3NVt37AcJM8q6R0X_Ir4&region=GB"></script>
<script type="text/javascript" src="javascript/gmap3.min.js"></script>
    }

