@{
    ViewBag.Title = "Home";
}
@section Styles{
    <!-- REVOLUTION LAYERS STYLES -->
<link rel="stylesheet" type="text/css" href="~/Content/Styles/layers.css">
<link rel="stylesheet" type="text/css" href="~/Content/Styles/settings.css">
    }

<!-- Iconbox -->
<section class="flat-row bg-theme pd-top-157">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section color-title">
                    <h1 class="title">OFFERING <span class="color-orange">THE BEST</span> <br> IN EDUCATION TO THE WORLD</h1>
                    <div class="sub-title">
                        Sign-up today to join over 6 million learners already on ALISON
                    </div>
                </div>
            </div><!-- col-md-12 -->
        </div><!-- row -->
        <div class="row">
            <div class="dividers h21">

            </div>
        </div>
    </div><!-- container -->

    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="iconbox">
                    <div class="box-header">
                        <div class="box-icon">
                            <img src="~/Content/Images/images/iconbox/1.png" alt="image">
                        </div>
                        <div class="box-title">
                            <a href="#" title="">Best Learning Communities</a>
                        </div>
                    </div>
                    <div class="box-content">
                        <p>The idea is to keep the discussions<br>going after class ends.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="iconbox icon-green">
                    <div class="box-header">
                        <div class="box-icon">
                            <img src="~/Content/Images/images/iconbox/2.png" alt="image">
                        </div>
                        <div class="box-title">
                            <a href="#" title="">Online Teaching Jobs</a>
                        </div>
                    </div>
                    <div class="box-content">
                        <p>The idea is to keep the discussions<br>going after class ends.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="iconbox icon-blue">
                    <div class="box-header">
                        <div class="box-icon">
                            <img src="~/Content/Images/images/iconbox/3.png" alt="image">
                        </div>
                        <div class="box-title">
                            <a href="#" title="">Learn Courses Online</a>
                        </div>
                    </div>
                    <div class="box-content">
                        <p>The idea is to keep the discussions<br>going after class ends.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="iconbox icon-cyan">
                    <div class="box-header">
                        <div class="box-icon">
                            <img src="~/Content/Images/images/iconbox/4.png" alt="image">
                        </div>
                        <div class="box-title">
                            <a href="#" title="">Book Library & Store</a>
                        </div>
                    </div>
                    <div class="box-content">
                        <p>The idea is to keep the discussions<br>going after class ends.</p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- container -->
</section>

<!-- Popular-iconbox2 -->
<section class="flat-row pd-top-93" style="background-color:#789F8A;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section color-title">
                    <h1 class="title">POPULAR <span class="color-orange">COURSE</span> CATEGORIES</h1>
                    <div class="sub-title">
                        Having over 10 million students worldwide and more than 50.000 online courses available.
                    </div>
                </div>
            </div><!-- col-md-12 -->
        </div><!-- row -->
        <div class="row">
            <div class="dividers h23">

            </div>
        </div>
    </div><!-- container -->

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="iconbox bg-style">
                            <div class="box-header">
                                <div class="box-icon">
                                    <img src="~/Content/Images/images/iconbox/21.png" alt="image">
                                </div>
                                <div class="box-title">
                                    <a href="#" title="">ARTS & HUMANITIES</a>
                                </div>
                            </div>
                        </div>
                    </div><!-- col-md-4 -->
                    <div class="col-md-4 col-sm-6">
                        <div class="iconbox bg-style bg-blue ">
                            <div class="box-header">
                                <div class="box-icon">
                                    <img src="~/Content/Images/images/iconbox/22.png" alt="image">
                                </div>
                                <div class="box-title">
                                    <a href="#" title="">BUSSINESS & MANAGENMENT</a>
                                </div>
                            </div>
                        </div>
                    </div><!-- col-md-4 -->
                    <div class="col-md-4 col-sm-6">
                        <div class="iconbox bg-style bg-cyan">
                            <div class="box-header">
                                <div class="box-icon">
                                    <img src="~/Content/Images/images/iconbox/23.png" alt="image">
                                </div>
                                <div class="box-title">
                                    <a href="#" title="">ENGINEERING<br>& TECHNOLOGY</a>
                                </div>
                            </div>
                        </div>
                    </div><!-- col-md-4 -->
                    <div class="dividers">
                    </div><!-- dividers -->
                    <!-- <div class="row"> -->
                    <div class="col-md-4 col-sm-6">
                        <div class="iconbox bg-style bg-red">
                            <div class="box-header">
                                <div class="box-icon">
                                    <img src="~/Content/Images/images/iconbox/24.png" alt="image">
                                </div>
                                <div class="box-title">
                                    <a href="#" title="">LIFE SCIENCES<br>& MEDICINE</a>
                                </div>
                            </div>
                        </div>
                    </div><!-- col-md-4 -->
                    <div class="col-md-4 col-sm-6">
                        <div class="iconbox bg-style bg-green ">
                            <div class="box-header">
                                <div class="box-icon">
                                    <img src="~/Content/Images/images/iconbox/25.png" alt="image">
                                </div>
                                <div class="box-title">
                                    <a href="#" title="">NATURAL SCIENCES</a>
                                </div>
                            </div>
                        </div>
                    </div><!-- col-md-4 -->
                    <div class="col-md-4 col-sm-6">
                        <div class="iconbox bg-style bg-violet">
                            <div class="box-header">
                                <div class="box-icon">
                                    <img src="~/Content/Images/images/iconbox/26.png" alt="image">
                                </div>
                                <div class="box-title style1">
                                    <a href="#" title="">SOCIAL<br>SCIENVES</a>
                                </div>
                                <div class="box-title style2">
                                    <a href="#" title="">SOCIAL SCIENVES</a>
                                </div>
                            </div>
                        </div>
                    </div><!-- col-md-4 -->
                </div>
            </div><!-- no-paddingright -->
            <div class="col-md-6">
                <div class="about-us style2 wrap-box pdleft">
                    <h2 class="title-about-us">ARTS & HUMANITIES</h2>
                    <div class="text-about-us">
                        <p>Artist John Sloan said, “Though a living cannot be made at art,<br>art makes life worth living.” </p>
                        <p>It is this fact which has driven millions of students to get arts and<br>humanities degrees, focussing their attention on painting, litera-ture or history.</p>
                    </div>
                    <div class="course-about-us">
                        <p>COURSES AVAILABLE:<br><strong> 500</strong></p>
                    </div>
                    <div class="button-style">
                        <div class="wrap-btn">
                            <a class="flat-btn" href="#">SEE COURSE</a>
                        </div>
                    </div>
                </div><!-- About-us -->
            </div><!-- col-md-6 -->
        </div><!-- row -->
    </div><!-- Container -->
</section>

<!-- Form-register -->
<section class="flat-row no-pd-top flat-register">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <form action="./contact/contact-process.php" method="POST" id="form-register" class="form-register">
                    <div class="form-register-title">
                        <h3 class="register-title">CREATE YOUR FREE<br><i class="wrap-box ispace7"></i>ACCOUNT NOW!</h3>
                    </div>
                    <div class="info-register">
                        <p class="wrap-input-name">
                            <input type="text" id="name" name="name" value="" required="required" placeholder="Your Name *:">
                        </p>
                        <p class="wrap-input-email">
                            <input type="text" id="email" name="email" value="" required="required" placeholder="Email *:">
                        </p>
                        <p class="wrap-input-phone">
                            <input type="text" id="phone" name="phone" value="" required="required" placeholder="Phone *:">
                        </p>
                        <div class="wrap-btn">
                            <a class="flat-btn" href="#">GET IT NOW</a>
                        </div>
                    </div>
                </form>
            </div><!-- col-md-5 -->
            <div class="col-md-7 no-paddingright">
                <div class="wrap-register-right wrap-box pdtopleft">
                    <div class="wrap-register-title">
                        <div class="title-top">
                            GET 100S OF INLINE COURSES FOR FREE
                        </div>
                        <div class="title-register">
                            REGISTER NOW
                        </div>
                        <div class="sub-title-register">
                            Create your free account now and get immediate access to 100s<br>of online courses.
                        </div>
                    </div><!-- wrap-register-title -->

                    <div id="countdown" class="countdown">

                    </div><!-- CountDown -->
                </div><!-- wrap-register-right -->

            </div><!-- col-md-7 -->
        </div>
    </div>
</section>