@using Microsoft.AspNet.Identity
@using FSDP.DATA
@{ FSDPDbEntities db = new FSDPDbEntities();
    var user = User.Identity.GetUserId();
    }
@if (Request.IsAuthenticated) {
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "flat-login-register" })) {
        @Html.AntiForgeryToken()
        <ul class="flat-login-register">
            <li>
                @Html.ActionLink("Hello " + Session["FirstName"] + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else {
    <ul class="flat-login-register">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
